extends layout

block content
  h2 Modifiez l'article #{article.titre}
  form(method="post" action="/articles/"+article.id+"/edit")
  
    label(for="titre") Titre :
    p
      input(type="text" name="titre" id="titre" value=article.titre)
      
    label(for="themes") Thèmes :
    p
      input(type="text" name="themes" id="themes" value=article.themes)
      
    label(for="chapo") Chapô :
    p
        input(type="text" name="chapo" id="chapo" value=article.chapo)
      
    label(for="contenu") Contenu :
    p
      textarea(name="contenu" id="contenu")= article.contenu  
      
    p
      button(type="submit") Envoyer
