
mixin listeThemes(cible, type)
  div.listeThemes
    if (cible.themes.length === 0)
      p Pas de thèmes sur cette référence :(
    else
      each themes in cible.themes
        span.themes.petit.bleu #{ themes.nom }
          form(style="display:none" id="untheme-#{cible.id}-#{themes.id}" action="/theme/remove/#{themes.id}/from/#{type}/#{cible.id}" method="post")
          span.delete(onclick="var f = document.getElementById('untheme-#{cible.id}-#{themes.id}').submit();") 
