extends ../layout
include ../mixinThemes/tagbox
include ../mixinThemes/nouveauTheme

head
  title Modifier l'image
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body.cms
    nav
      div.titrePrincipal  
        h1 Editer #{image.titre}
      div.liens
        a(href="" onclick="history.back();" class="navigation") Retour
    h2 #{image.titre}  
    section.blocAjout
      h3= "Modifiez la référence " + image.titre
      figure
        img(src=image.path)
      form(method="post" action="/cms/image/"+image.id+"/edit" enctype="multipart/form-data")
        label(for="titre") Titre :
          p
            input(type="text" name="titre" id="titre" value=image.titre)
        label(for="description") Description :
          p
            textarea(rows="10" cols="150" name="description" id="description")= image.description  
        p
          button(type="submit" class="petit noir") Envoyer
    div.themes
      +tagbox(themes, image, 'image')
