extends ../layout
include ../mixin/tagbox
include ../mixin/nouveauTheme

head
  title Modifier l'image
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body.cms
    nav
      div.titrePrincipal  
        h1 Editer #{reference.titre}
      div.liens
        a(href="" onclick="history.back();" class="navigation") Retour
    h2 #{reference.titre}  
    section.blocAjout
      h3= "Modifiez la référence " + reference.titre
      figure
        img(src=reference.path)
      form(method="post" action="/cms/image/"+reference.id+"/edit" enctype="multipart/form-data")
        label(for="titre") Titre :
          p
            input(type="text" name="titre" id="titre" value=reference.titre)
        label(for="description") Description :
          p
            textarea(rows="10" cols="150" name="description" id="description")= reference.description  
        p
          button(type="submit" class="petit noir") Envoyer
    div.themes
      +tagbox(themes, reference, 'reference')
