extends ../layout
include ../mixin/tagbox
include ../mixin/nouveauTheme

head  
  title Editer une video
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body.cms
    nav
      div.titrePrincipal  
        h1 Editer #{video.titre}
      div.liens
        a(href="" onclick="history.back();" class="navigation") Retour
    h2 #{video.titre}     
    section.blocAjout
      h3 Modifier la référence
      iframe(src="#{video.lien}" width="1160" height="652" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
      form(method="post" action="/cms/video/"+video.id+"/edit")
        label(for="titre") Titre :
          p
            input(type="text" name="titre" id="titre" value=video.titre)
        label(for="lien") Lien :
          p
            input(type="text" name="lien" id="lien" value=video.lien)
        label(for="description") description :
          p
            textarea(rows="20" cols="150" name="contenu" id="contenu")= video.description
            aside Note: Utiliser Markdown pour le formatage
        p
          button(type="submit" class="petit noir") Envoyer
    div.themes
      +tagbox(themes, video, 'video')
