extends ../layout
include ../mixin/nouveauTheme

head
  title Liste des référence
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")

block content
  body.cms
    nav
      div.titrePrincipal
        h1 Liste des références
      div.liens
        a(href="../" class="navigation") Cartographie
    h2
      a(href="../cms/nouvelle" class="grand bleu") Nouvelle référence
      a(onclick="document.getElementById('recherche').classList.remove('hide');" class="grand bleu") Rechercher une référence
    section(class="bloc hide" id="recherche")
      h2 Rechercher une référence
      label(for="recherche") Rechercher une référence :
        p Type de référence
          select(type=text id="type" name="type")
            option(value="article" class="article") article
            option(value="image" class="image") image
            option(value="video" class="video") vidéo
        p Thème associé : 
          input(type="text" name="theme" id="theme")
        p Rechercher :
          input(type="text" name="recherche" id="recherche" placeholder:"Que recherchez vous ?")
        p.petit.noir Je suis un faux bouton
    div(class="bloc liste")
      h2 Liste des références
      section.wrap
        each References, index in references
          article.blocReference
            div
              h3 !{References.titre}
              img(src=References.path)
              figcaption #{References.classe}
            a.action(href="/cms/reference/"+References.id+"/edit" class="petit noir") éditer  
            form(id="deleteReference"+References.id style="display:none" method="post" action="/cms/reference/"+References.id+"/delete")
            a.action(onclick="event.preventDefault();document.getElementById('deleteReference#{References.id}').submit()" class="petit noir") supprimer
    div
      h2
        a(onclick="document.getElementById('nouveauTheme').classList.remove('hide');" class="grand bleu") Créer un nouveau thème
      +nouveauTheme()
    div(class="bloc listes")  
      h2 Liste des thèmes
      div.wrap
        each Themes, index in themes
          div.blocTheme
            p
              a(href="/cms/theme/"+Themes.id+"/edit" class="theme #{Themes.couleur}" style="background:#{Themes.couleur}")= Themes.nom
              br
            a.action(href="/cms/theme/"+Themes.id+"/edit" class="petit noir") éditer
            form(id="deleteTheme"+Themes.id style="display:none;" method="post" action="/cms/theme/"+Themes.id+"/delete")
            a.action(onclick="event.preventDefault();document.getElementById('deleteTheme#{Themes.id}').submit()" class="petit noir") supprimer
