
head
  title Nouvelle référence
  
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  h1 Nouvelle référence
  h2 Entrez une référence
  form(method="post" action="/reference/nouvelle"  enctype="multipart/form-data")
  
    label(for="titre") Titre :
      p
        input(type="text" name="titre" id="titre")
        
    label(for="contenu") Contenu :
      p
        textarea(name="contenu" id="contenu")  
        
    label(for="file") Image : 
      p
        input(type="file" name="file" id="file")
        
    label(for="description") Description :
      p
        textarea(name="description" id="description")  
        
        p
        button(type="submit") Envoyer


  h2 Visualisation de l'objet
    p
      pre= JSON.stringify(article)
      
  
  h2 Liste des articles
  each Articles, index in article
    article.article
      h3.titre= "no." + index + " : " + Articles.titre
      p.contenu= Articles.contenu
      hr
      a.action(href="/reference/article/"+Articles.id+"/edit") éditer  
      form(style="display:none" method="post" id="deleteme"+Articles.id action="/reference/article/"+Articles.id+"/delete")
      a.action(href='' onclick="var d = document.querySelector('#deleteme"+Articles.id+"');d.submit();") supprimer
      
      
   h2 Liste des images
   each Images in images
    article
      figure
        img(src=Images.path)
        figcaption= Images.description
        a.action(href='/reference/image/'+Images.id+'/edit') éditer
        form(id='delete-#{Images.id}' style="display:none;" action='/reference/image/'+Images.id+'/delete' method="post")
        a.action(href='' onclick="event.preventDefault();document.getElementById('delete-#{Images.id}').submit();") supprimer
    if images.length === 0
      p Il n'y a pas encore d'images :(
