head 
  title Toutes les références
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  h1 Toutes les références
  a(href="/" class="petit noir") Accueil 
  a(href="/cartographie/aleatoire" class="petit noir") lien aléatoire
  a(href="/cms/nouvelle" class="petit noir") Nouvelle référence
  hr
  h2 Liste des articles
  each Articles in articles
    a(class="petit noir" href="article/"+Articles.id)
      article.article
        h3.titre= Articles.id + ' - ' + Articles.titre
        p.contenu= Articles.contenu
  if articles.length === 0
    p Il n'y a pas encore d'articles :(
  hr
  
  h2 Liste des images
  each Images in images
    article
      a(href="image/"+Images.id)
        img(src=Images.path)
      p.description= Images.description
  if images.length === 0
    p Il n'y a pas encore d'images :(
  hr
  
  h2 Liste des videos
  each Videos in videos
    article
      p.titre= Videos.titre
      p.description= Videos.description
  if images.length === 0
    p Il n'y a pas encore de video :(
  hr
  
  
  p
    a(href="/cartographie/accueil" class="petit noir") Retour
