head 
  title= theme.nom
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body
    nav(class='background#{theme.couleur}')
      div.titrePrincipal
        h1= theme.nom
      div.liens
        a(href="/" class="navigation") Accueil 
        a(href="/cartographie/aleatoire" class="navigation") référence aléatoire
        a(href="/cms/nouvelle" class="navigation") Nouvelle référence
  
  p(class='font#{theme.couleur}') !{theme.description}
  h2(class='font#{theme.couleur}') Liste des références associées au thème "#{theme.nom}" 
  section.colonnes
    each References in theme.references
        article(class='listeReferences lRTheme#{theme.couleur}')
          a(href="/cartographie/"+References.classe+"/"+References.id)
            img(src=References.path class='listeImagesC')
            h3.titre= References.titre
            h5= References.auteur
