include ../mixin/listeThemes

head
  title.titre= reference.titre
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  nav
    div.titrePrincipal
      h1 Cartographie des références
    div.liens
      a(href="/" class="navigation") Accueil
      a(href="/cartographie/references" class="navigation") Toutes les références
      a(href="/cartographie/aleatoire" class="navigation") Référence aléatoire
  section
    a(href="#{reference.lien}")
      h3.articleTitre !{reference.titre}
    div.videoVideo
      iframe(src="#{reference.lien}" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
  figcaption.videoDescription !{reference.description}
  section.themes
    +listeThemes(reference, 'reference')
  
    
