mixin listeThemes(cible, type)
  section.listeThemes
    if (cible.themes.length === 0)
      p Pas de thèmes sur cette référence :(
    else
      each themes in cible.themes
        span
          a.themes.petit(href="/cartographie/#{cible.id}/aleatoire" class="#{themes.couleur} theme" style="background: #{themes.couleur}") #{ themes.nom }
          form(style="display:none" id="untheme-#{cible.id}-#{themes.id}" action="/theme/remove/#{themes.id}/from/#{type}/#{cible.id}" method="post")
